<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
<app-my-new-component></app-my-new-component>
</div>
<div>
  <h3>{{place.Location}}</h3>
  <h3>{{place.Country}}</h3>
</div>
<div>
  <ul>
    <li *ngFor="let names of name">{{names}}</li>
  </ul>
  <p *ngIf = "showlocation">{{place.Location}}</p>
  <p *ngIf = "showCountry; then template1 else template2">{{place.Country}}</p>
  <ng-template #template1><h1>{{place.Country}}</h1></ng-template>
  <ng-template #template2><h1>Country name not available right now</h1></ng-template>
</div>

<div>
  <p>___________________________________Property Biding_________________________________________</p>
  <button disabled = "{{buttonStatusBoolean}}">My Button string</button>
  <button [disabled] = "buttonStatusString == 'disableNow'">My Button []</button>
  <button bind-disabled = "buttonStatusBoolean">My Button bind</button>
</div>

<div>
<p>___________________________________Event Biding_________________________________________</p>
<button (click) = "clickEvent($event)" (mouseenter) = "mouseEnter($event)">Click the button</button>
<h3>{{clickCount}}</h3>
</div> 

<div>
    <p>___________________________________Displaying service data_________________________________________</p>
    <ul>
      <p>{{methodString}}</p>
      <li *ngFor="let carName of carData">{{carName}}</li>
    </ul>
</div> 